body{
    background-color: black;
}
img{
    opacity: 0.15;
    width: 50%;
    height: 50%;
    margin-left:25%;
    margin-right: 25%;
    border-radius: 100%;
}
img:active{
    opacity: 1;
    background: radial-gradient( #fff 25%, #000 75%);
}
a{
    color: white;
    text-decoration: none;
}
